{% extends 'base.html' %}
{% block content %}
<section class="py-5 mt-5">
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold" >votre commande a bien été envoyée. La Boutique vous Contactera<br><br><br></h2>
                <h3 class="fw-bold">vous pouvez aussi envoyer un message(whatsapp ou mail)<br> a la boutique pour verifier votre commande</h3>
            </div>
        </div>
    </div>
</section>
{% endblock %}